@page "/"

<h2 class="pb-2">Tenis Kulübü Üye ve Kort Rezervasyon Takibi</h2>
<p class="pb-2">
		.
</p>
<div class="pb-2">
    <img class="fit-width" src="images/banner.jpg" />
</div>

<h2 class="mb-4 mt-4">Faydalı Kaynaklar</h2>

<ul>
    <li><a class="helplink" href="https://www.youtube.com/watch?v=aWvnXnkQrbU/" target="_blank">Dustin Brown</a></li>
    <li><a class="helplink" href="https://www.youtube.com/watch?v=vdrTu18lzZ8" target="_blank">Gael Monfils vs Dustin Brown</a></li>
</ul>
